
body {
  margin: 0;
  font-family: 'Arvo', serif;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url(./images/CL.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* overflow: hidden; */

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
