/* @media only screen and (min-device-width: 400px) {.background-container {
    width:auto;
    height:auto;
    background-image: url(../images/Spotlight.jpg);
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position: center;
    background-attachment:fixed;  
}} */

.bigger-background{
    /* display: flex; */
    justify-content: center;
    border: 1px solid black;
    margin: 50px 50px 50px 50px
}

.background-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/Background.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    border-radius: 25px;
    background-position: center;
    border: 1px solid black;
    
    
}


.keeper-container{
    position: relative;
    border: 1px solid black;
    flex-direction: column;

    top: 14vw;
    left: 0vw;
    
}

.ball-container{
    position: relative;
    border: 1px solid black;
    left: 0vw;
    top: -8vw;
    
}

.crouch{
    width: 100px;
    height: auto;
}

.ball{
    width: 450px;
    height: auto;
}

.trophy-container{
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    left: 0vw;
    top: 7vw;

}
.trophy{
    width: 450px;
    height: auto;
    border: 1px solid black;
}

.winner-name{
    top: -300px;
}

