.createBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.headerCreate{
    display: flex;
    justify-content: center;
    margin: 0;
}

.mainCreate{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%
}

.logoQuiz{
    width: 15vw;
    height: auto;
    border-radius: 100%;
    margin: 5%;
    border: solid 2px white;
}

.createButton{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    margin: 10px;
    border: 2px solid #0f7dcf;
    box-shadow: 0 0 40px 40px #0f7dcf inset, 0 0 0 0 #0f7dcf;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    color: white;
    margin-top: 15%;
}

.createButton:hover {
    box-shadow: 0 0 10px 0 blueviolet inset, 0 0 10px 4px blueviolet;
    outline: 0;
    text-decoration: none;
}

.createButtonText{
margin: 4 (25%);
font-size: 35px;
}

.createOptions{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    margin: 10px;
    border: 2px solid #0f7dcf;
    box-shadow: 0 0 40px 40px #0f7dcf inset, 0 0 0 0 #0f7dcf;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    color: white;
    margin-top: 1%;
}

.createOptions:hover {
    box-shadow: 0 0 10px 0 blueviolet inset, 0 0 10px 4px blueviolet;
    outline: 0;
    text-decoration: none;
}

.createOptionsText{
margin: 4 (25%);
font-size: 35px;
}

#instructions{
    font-size: x-large;
    margin: 3%;
}

#optionLabel{
    width:20vw;
    padding:1%;
}

.questionBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionBox > form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainCreate > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:2%
}

.optionsForm{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.optionsFormBoxes{
    display: flex;
    width: 75vw;
    margin: 1%;
    align-items: center;
    justify-content: center;
}

.optionsFormBoxes > input{
    margin: 1%
}

#questionName{
    width: 25vw;
    height: 2em;
    text-align: center;
}

.quiz-created{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-created-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1%;
}