#gameContainer{
    display: flex;
    flex-direction: column;
}
#scoreboard1{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px #fff;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    margin-top: 21px;
}

#game-directions{
    display: flex;
    width: 100vw;
    justify-content:space-around;
    align-items: center;
    border: solid 1px black;
    color: white;
}

.directions{
    width: 25px; height: 25px;
    filter: invert(100%) sepia(40%) saturate(2%) hue-rotate(215deg) brightness(104%) contrast(100%)
}

/* #player1Instructions{
}

#player2Instructions{
} */

#nextQuestion{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #0f7dcf;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    width: 400px;
    height: 50px;
    font-size: 25px;
    margin: 1em;
    box-shadow: 0 0 40px 40px #0f7dcf inset, 0 0 0 0 #0f7dcf;
    transition: all 150ms ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
}

#nextQuestion:hover {
    box-shadow: 0 0 10px 0 blueviolet inset, 0 0 10px 4px blueviolet;
    outline: 0;
    text-decoration: none;
}





/* #nextQuestionText{
} */