#game-directions{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px black;
    color: white;
}

/* #player1Instructions{
}

#player2Instructions{
} */

#nextQuestion{
    display: flex;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 10px;
    border-color: blue;
    box-shadow: 0 0 40px 40px blue inset, 0 0 0 0 blue;
    transition: all 150ms ease-in-out;
    text-decoration: none;
    /* text-align:inherit; */
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#nextQuestion:hover {
    box-shadow: 0 0 10px 0 greenyellow inset, 0 0 10px 4px greenyellow;
    outline: 0;
}

/* #nextQuestionText{
} */