#gameContainer{
    display: flex;
    flex-direction: column;
}

#game-directions{
    margin-top: 1%;
    min-height: 9vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100vw;
    color: white;
}

.directions{
    width: 25px; height: 25px;
    padding: 4%;
    filter: invert(100%) sepia(40%) saturate(2%) hue-rotate(215deg) brightness(104%) contrast(100%);
}

#nextQuestion{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    z-index: 100;
    top: 75%;
    width: 25vw; height: 3vw;
    margin: 0.5em;
    color: white;
    background-color: transparent;
    border: 2px solid #0f7dcf;
    border-radius: 0.6em;
    box-shadow: 0 0 40px 40px #0f7dcf inset, 0 0 0 0 #0f7dcf;
    transition: all 150ms ease-in-out;
    font-size: 2vw;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}

#nextQuestion:hover {
    box-shadow: 0 0 10px 0 blueviolet inset, 0 0 10px 4px blueviolet;
    outline: 0;
    text-decoration: none;
}

