.i-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
    padding-top: 1.2vw;
}

p{
    margin: 0;
    padding: 0;
}

.i-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1.4vw;
}

.i-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1% 5% 0% 5%;
    font-size: larger;
    text-align: center;
}

.i-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: larger;
    padding-left: 1.8vw;
}

.i-subtitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size:x-large;
    padding-top: 1.3vw;
}

.i-home{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    box-sizing: border-box;
    width: 20vw; height: 2vh;
    padding: 2%;
    margin: 1%;
    background-color: transparent;
    border: 3px solid #0f7dcf;
    border-radius: 0.6em;
    box-shadow: 0 0 40px 40px #0f7dcf inset, 0 0 0 0 #0f7dcf;
    transition: all 150ms ease-in-out;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-decoration: none;
    font-size: large;
    cursor: pointer;
}

.i-home:hover {
    box-shadow: 0 0 10px 0 blueviolet inset, 0 0 10px 4px blueviolet;
    outline: 0;
    text-decoration: none;
}

.i-home-text{
margin: 4 (25%);
color: white;
}