#wrongway{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 10% 10% 10%;
    border: 0px solid white;
    color: white;
}

#varSign{
    width: 50vw; height: 45vh;
}

.help{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width:300px; height: 30px;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    margin: 10px;
    border: 2px solid #0f7dcf;
    box-shadow: 0 0 40px 40px #0f7dcf inset, 0 0 0 0 #0f7dcf;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
}

.help:hover{
    box-shadow: 0 0 10px 0 blueviolet inset, 0 0 10px 4px blueviolet;
    outline: 0;
    text-decoration: none;}

#helpText{
    color: #0f7dcf;
    text-decoration: none;
}