#shotNotTaken {
    border-radius: 100%;
    color: white;
   
}

#shotNoPoint {
    border-radius: 100%;
    color: red;
    background-color: white;
}

#shotPointScore {
    border-radius: 100%;
    color: green;
    background-color: white;
}

#scoreboard{
    display: flex;
    width: 50vw;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    border: solid 3px #fff;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    position: relative;
    bottom: 0.5%;
    font-size: x-large;  
}