.startContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    color: white;
    margin: 0;
}

#logoStart{
    width: 25vh; height:25vh;
    margin-top: 0.5%;
    border-radius: 100%;
    border: 2px solid white;
}

.players{
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin: 0;
    margin: 0.5%;
    padding: 0;
    padding: 4 (1%);
    border: 2px solid white;
}

.playerLabel{
    font: bold 1.5em/125% Arvo, san serif;
    margin: 1%; 
    margin-top: 2%;
    padding: 1%;
}

.player1Select{
    width:fit-content;
    margin: 1%;
    padding-left: 7%;
    border: 2px solid white;
}

#player1Box{
    margin: 2%
}

.player2Select{
    width:fit-content;
    margin: 1%;
    padding-left: 7%;
    border: 2px solid white;
}

#player2Box{
    margin: 2%
}

.colourSelector{
    display: flex;
    box-sizing: border-box;
    width: 15vw;
}

.carousel_slide{
    max-width: 200vw;
    width: auto;
    max-height: 200vw;
    height: 49vh;
}

.carousel-inner{
    width: auto;
    margin: auto;
}

.carousel-caption{
    color: white;
    position: relative;
    margin-top: 7.5%;
    left: auto;
    right: auto;
    width: auto;
}

.colourPickText{
    border: 2px solid white;
    margin: 0;
    margin: 4 (1%);
    padding: 0;
    padding: 3% 2% 3% 2%;
    width: 100%;
    color: white;
    font-size: medium;
}

.quizSelector{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    width: 80vw; height: 10vh;
    margin: 0.5% 0% 1.5% 0%;
    border: 2px solid white;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

select{
    width: 100%;
    margin: 0;
    color: black;
}

.quizSelectText{
    width: 100%;
    margin: 0;
    font-size: 1.5em;
}

#quizStartButton{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 25vw; height: 5vh;
    margin-left: 3%;
    border: 2px solid #0f7dcf;
    border-radius: 0.6em;
    background-color: transparent;
    box-shadow: 0 0 40px 40px #0f7dcf inset, 0 0 0 0 #0f7dcf;
    transition: all 150ms ease-in-out;
    line-height: 1;
    text-transform: uppercase;
    cursor: pointer;
}

#quizStartButtonText{
    color: white;
    font-size: 1.5em;
}

#quizStartButton:hover{
    box-shadow: 0 0 10px 0 blueviolet inset, 0 0 10px 4px blueviolet;
    outline: 0;
    text-decoration: none;
}

#upperRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; height: 8%;
    top: 0%;
    right: 0%;
    position: absolute;
}

#controller{
    min-width: 15px;
    min-height: 16px;
}

p{
    margin: 0;
    padding: 1.5%;
}



