.startContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    color: white;
}

h1{
    margin: 1%;
    padding: 2%;
    color: white;
}

#logoStart{
    /* width: 275px; height: 125px;  */
    width: 30vh;
    height: 15vh;
    object-fit: cover;
    margin: 1%;
}

.players{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
}

.playerLabel{
    font: bold 1.5em/125% Arvo, san serif;
    padding: 1%;
    margin: 1%; 
    margin-top: 2%;
}

.player1Select{
    max-width: 100vw;
    border: 2px solid white;
    margin: 1%;
    padding-left: 7%;
}

.player2Select{
    border: 2px solid white;
    margin: 1%;
    padding-left: 7%;
}

.colourSelector{
    margin: 0;
    margin-top: 5%;
    width: 15vw;
}

.carousel{
    max-width: 200vw;
    max-height: 200vw;
    height: 49vh;
}

.d-blockw-100{
    margin-left: 3%;
    width: 75px;
    height: 300px;
}

.quizSelector{
    margin-top: 1%;
    display: flex;
    border: 2px solid white;
}

.carousel-caption{
    color: white;
    position: relative;
    margin-top: 7.5%;
    left: auto;
    right: auto;
}

h5{
    /* border: 2px solid white; */
    margin: 2%;
    padding: 5% 2% 5% 2%;
    color: white;
    font-size: medium;
}

.quizSelector{
    display: flex;
    align-items: center;
    margin: 2% 0 2% 0;
    padding: 2%
}

.quizSelectText{
    margin: 1%;
}

select{
    margin: 1%;
}

#quizStartButton{
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    margin: 10px;
    border: 2px solid #0f7dcf;
    box-shadow: 0 0 40px 40px #0f7dcf inset, 0 0 0 0 #0f7dcf;
    transition: all 150ms ease-in-out;
    text-transform: uppercase;
}

#quizStartButtonText{
    color: white;
    font-size: 25px;
}

select{
    color: black;
    width: 90%;
}

#quizStartButton:hover{
    box-shadow: 0 0 10px 0 blueviolet inset, 0 0 10px 4px blueviolet;
    outline: 0;
    text-decoration: none;
}

#lowerRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%; height: 12%;
    margin: 0.5%;
    bottom: 0%;
    right: 0%;
    position: absolute;
    background-size: 125px 125px;
}

p{
    margin: 0;
    padding: 1.5%;
}