.startContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    border: 2px solid black;
    margin: 1%;
}

.players{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
}

.player1Select{
    border: 2px solid black;
    margin: 1%;
    padding-left: 5%;
}

.player2Select{
    border: 2px solid black;
    margin: 1%;
    padding-left: 5%;
}

.colourSelector{
    margin-top: 5%;
    width: 190px;
}

.carousel{
    max-width: 190px;
}

.quizSelector{
    margin-top: 1%;
    display: flex;
    border: 2px solid black;
}